# Memblokir seluruh folder konfigurasi IDE & Build (Wajib)
.idea/
.gradle/
build/
captures/
.externalNativeBuild/
.cxx/

# Memblokir file lokal & spesifik (Wajib)
local.properties
*.iml
.DS_Store

# Memblokir kredensial Firebase & Keamanan (Sangat Disarankan untuk UAS)
google-services.json
*.jks
*.keystore