rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Tugas 2.2: Aturan untuk koleksi peserta (participants)
    match /participants/{participantId} {
      // Mengizinkan pengguna HR yang terautentikasi untuk membaca dan menulis data
      // Pada aplikasi nyata, kita akan memeriksa kolom 'role' di dalam koleksi 'users'
      // Untuk sprint ini, kita hanya memastikan apakah pengguna sudah login/terautentikasi
      allow read, write: if request.auth != null;
    }

    // Aturan Default: Tolak semua akses ke koleksi lainnya
    match /{document=**} {
      allow read, write: if false;
    }
  }
}