rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Tugas 2.2: Aturan untuk koleksi peserta (participants)
    match /participants/{participantId} {
      allow read, write: if request.auth != null;
    }

    // Task 4.1 (Anisa): Rules for reports collection
    match /reports/{reportId} {
      allow read: if request.auth != null;
      // Write will be handled by a system process or the exam completion logic (Aditya)
      allow write: if request.auth != null;
    }

    // Aturan Default: Tolak semua akses ke koleksi lainnya
    match /{document=**} {
      allow read, write: if false;
    }
  }
}